<!DOCTYPE html>
<html>
    {% include 'djangoapp/head.html' %}

    <body>
        <!--Add a nav bar here -->
        {% include 'djangoapp/navbar.html' %}
    

        {% block content %}
        <div class="card-deck m-4">
        <div class="row">
            {% for dealership in dealerships %}
            <div class="col-4 mb-2">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{ dealership.full_name }}</h5>
                    </div>
                    <div class="card-body text-center">
                      <p class="card-text">{{ dealership.city }}</p>
                      <p class="card-text">{{ dealership.address }}</p>
                      <p class="card-text">{{ dealership.state }}</p>
                      <a href="{% url 'djangoapp:dealer_details' dealership.id %}" class="btn btn-primary">Details</a>
                    </div>
                  </div>
                </div>
            {% endfor %}
            </div>
        </div>
        {% endblock %}

    </body>
    {% include 'djangoapp/footer.html' %}
</html>
