<!DOCTYPE html>
<html>
{% include 'djangoapp/head.html' %}

<body>
    <!--Add a nav bar here -->
    {% include 'djangoapp/navbar.html' %}

    {% block content %}
    <div style="width: 90vw; margin: auto">
        <table class="table table-hover" id="table" data-filter-control="true">
            <thead class="thead-dark">
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="name">Name</th>
                    <th data-field="city">City</th>
                    <th data-field="address">Adress</th>
                    <th data-field="zip">Zip</th>
                    <th data-field="state" data-filter-control="select">State</th>
                </tr>
            </thead>
            <tbody>
                {% for dealer in dealerships %}
                <tr style="cursor: pointer;">
                    <td>{{dealer.id}}</td>
                    <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{dealer.full_name}}</a></td>
                    <td>{{dealer.city}}</td>
                    <td>{{dealer.address}}</td>
                    <td>{{dealer.zip}}</td>
                    <td>{{dealer.state}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(function () {
            $('#table').bootstrapTable()
        })
    </script>
    {% endblock %}
</body>
{% include 'djangoapp/footer.html' %}

</html>